@model List<BookShop.Domain.DomainModels.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="background-color: #efefef">
    @if (User.IsInRole("Administrator"))
    {
        <div class="m-3">
            <a class="btn btn-success" asp-controller="Books" asp-action="Create">Add new Book</a>
        </div>
    }
   
    <form action="/Books/FilterByGenre" method="GET">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label class="control-label"></label>
            <select name="genre" class="form-control">
                <option value="Fantasy">Fantasy</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Mystery">Mystery</option>
                <option value="Horror">Horror</option>
                <option value="Thriller">Thriller</option>
                <option value="Historical">Historical</option>
                <option value="Romance">Romance</option>
                <option value="Biography">Biography</option>
                <option value="Fiction">Fiction</option>
                <option value="Crime_novel">Crime novel</option>
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
        
    </form>
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row">
            }


            <div class="col-md-3 m-4">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="@item.BookImage" style=" overflow:hidden; height: 50%" alt="Image for book!" />

                    <div class="card-body" style=" background-color: #f9f9f9">
                        <h3 class="card-title">@item.BookName</h3>
                        <p class="card-text">@item.BookAuthor</p>
                        <p class="card-text">@item.Genre</p>
                        @*<p class="card-text">Published:  @item.Published.ToString("yyyy");</p>*@

                        <h6>Price: @item.BookPrice</h6>
                    </div>

                    <div class="card-footer">

                        <a asp-controller="Books" asp-action="AddBookToCart" asp-route-id="@item.Id" class="btn btn-info">Add to Card</a>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-controller="Books" asp-action="Edit" asp-route-b="@item.Id" class="btn btn-secondary">Edit</a>
                            <a asp-controller="Books" asp-action="Delete" asp-route-b="@item.Id" class="btn btn-secondary">Delete</a>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <a asp-controller="Books" asp-action="Details" asp-route-b="@item.Id" class="btn btn-secondary">Details</a>
                        }
                    </div>
                </div>
            </div>



            if (i % 3 == 2)
            {
            @:</div>
        }
    }

</div>